body{
    background-color: black;
}

.Services{
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(190, 192, 193);
    margin-left: 600px;
    margin-top: 50px;
    font-weight: 500;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;

}
.nav_info {
    padding-top: 40px;

}

.nav_info a {
    margin: 20px;
    text-decoration: None;
    color: #ababab;
}

.nav_info a:hover {
    color: #fff;
}

.contact{
    padding-top: 35px;
}

.line {
    border-top: 1px solid rgb(185, 181, 181);
    margin-top: 0px;
    margin-left: 210px;
    width: 1070px;

}

.card-text{
    height: 80px;
    color: #ffe7e7;
    border-color: #fff;
    border-width: 3px;
}

.card-body{
    background-color: #111;
}

.text-body-secondary{
    color: #ffe7e7;
    margin-top: 30px;
    border-width: 1px;
    border-top: #fff;
}

.price-button{
    margin-top: 30px;
    border-radius: 30%;
}

.btn-outline-light1{
    margin-top: 50px;
    border-radius: 4px;
    height: 35px;
    background-color: #fffcfc00;
    border-width: 1px;
    border-color: #fff;
    color: #fff;
}

.btn-outline-light1:hover{
    color: rgb(255, 170, 0);
}

.btn-outline-light:hover{
    background-color: #9f9f9f00;
    color: rgb(255, 170, 0);
}

#priceOutput {
    font-size: 24px;
    border: 1px solid white; /* Add white border with 1px width */
    background-color: black; /* Add black background color */
    color: white; /* Set text color to white */
    padding: 10px;
    margin-top: 10px;
    margin-left: 87px;
    width: 500px;
    margin-bottom: 40px;
}

.ras{
    margin-left: 87px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.ras h1{
    color: #fff;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#resetButton {
    font-size: 16px;
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 87px;
    margin-bottom: 90px;

}

.ser{
    color: rgb(241, 255, 196);
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    width: 500px;
    margin-left: 33%;
}
